<div style="text-align: center" class="bc">
    <h1 [ngStyle]="inlineCss">{{ title }}</h1>   
<div class=backImg>
    <br>
<p id="textCss">Passenger Login</p>
<div class="container">
    <form>
        <div class="form-group">
            <label for="username">Username/E-mail</label>
            <input required ngModel name="username" type="text" id="username" class="form-control" #Uname="ngModel"
                (click)="showValue(Uname)" autocomplete="off">
                 <div class="alert alert-danger" *ngIf="!Uname.valid && Uname.touched">
                <div *ngIf="Uname.errors.required">
                    Please fill username/e-mail..


                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input required ngModel name="password" type="text" id="password" class="form-control" #pname="ngModel">
            <div class="alert alert-danger" *ngIf="!pname.valid &&  pname.touched">

                    Password required !!!
                </div>
        </div>
        

        <div>
            <input type="submit" name="submit" class="btn btn-success">
        </div>

    </form>
</div>
<br>
<br>
<br>

<p id=textCss>Driver Login</p>
<div class="container">
    <form>
        <div class="form-group">
            <label for="username">Username/E-mail</label>
            <input required ngModel name="username" type="text" id="username" class="form-control" #fname="ngModel"
                 autocomplete="off">

            <div class="alert alert-danger" *ngIf="!fname.valid && fname.touched">
                <div *ngIf="Uname.errors.required">
                    Please fill username/e-mail..


                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input required ngModel name="password" type="text" id="password" class="form-control" #lname="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="!lname.valid &&  lname.touched">

            Password required !!!
        </div>

        <div>
            <input type="submit" name="submit" class="btn btn-success">
        </div>

    </form>
</div>
</div>
</div>
